/***********************************************************************************
 *	- ABOUT
 ***********************************************************************************/
 
	.about-me {
		margin-bottom: 50px;
		text-align: center;
		font-weight: 400;
	}
	
	.about-me > img {
		width: 100%;
		display: inline-block;
		margin-bottom: 30px;
	}
	
	.about-me > h5 {
		font-weight: 500;
		margin-bottom: 0;
	}
	
	.about-me .social-media {
		display: none;
		padding: 25px 0 20px;
		margin-bottom: 0;
		border-bottom: 3px solid #13b0e4;
		background-color: #0bbff2;
	}
	
	.about-me .social-media a {
		font-size: 16px;
		margin-right: 20px;
		color: #fff;
	}
	
	.about-me .social-media a:last-child {
		margin-right: 0;
	}