.our-plans-accordion {
  margin-bottom: 40px;
  h2 {
    color: $cignaGlobalSecondary2;
    @include font-size(18);
  }
  .panel-body {
    padding-top: 0;
    .plan-row {
      padding-top: 1em;

      &:nth-child(odd) {
        background: $cignaGlobalSecondary4;
      }
      &:nth-child(even) {
        background: #e7edf0;
      }
    }
  }
}

.plan-info {
  text-align: center;

  h3 {
    color: $cignaGlobalPrimary1;
  }
  ul {
    @include zero;
    list-style: none;
  }
}

.cigna-accordion {
  .panel-heading.is--open {
    background: $cignaGlobalPrimary1;
    [data-toggle="collapse"]:after {
      content: '\e113' !important;
      color: white !important;
    }
    a {
      color: white;
    }
  }
  .panel {
    border-radius: 0;
    border: none;
    box-shadow: none;

    p {
      margin-bottom: 10px;
    }
  }
  
  .panel-body {
    border-top-color: transparent !important;
  }

  .panel-default {
    border-color: transparent;
  }
  
  .panel-heading {
    background: $cignaGlobalSecondary4; //$cignaGlobalPrimary1;
    border-radius: 0;
    padding: 0px;
    position: relative;
    [data-toggle="collapse"]:after {
      font-family: 'Glyphicons Halflings';
      content: '\e114';
      float: right;
      color: $cignaGlobalSecondary2;
      font-size: 16px;
      line-height: 22px;
      position: absolute;
      height: 60%;
      bottom: 0;
      right: 20px;
    }

    .panel-title {
      @include font-size(18);
    }

    a {
      padding: 25px 20px;
      margin-right: 10px;
      color: $cignaGlobalPrimary1;
      text-decoration: none;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.cigna-accordion--contact {
  .cigna-panel-heading {
    background: $cignaGlobalPrimary1;
    color: white;
    padding: 25px 20px;
  }
  .panel-body {
    background: $cignaGlobalSecondary4;
    @include font-size(14);
  }

  .contact-location {
    font-weight: 700;
    color: $cignaGlobalSecondary2;
    @include font-size(14);
  }
}