.brokers .page-hero--short {
    &__container {
    background: url('../images/brokers-sub-banner.jpg') no-repeat !important;
    max-height: 100px;
        .page-hero__content {
            padding: 15px 0 60px;
            h1 {
                font-size: 30px;
            }
        }
    }
}
.brokers .page-hero--short__content {
    padding: 20px 0 20px 20px;
}
.register-form {
    background: $cignaGlobalSecondary4;
    border-top: 10px $cignaGlobalPrimary1 solid;
    padding: 20px 40px;
    margin-bottom: 40px;
    h2 {
        margin: 0;
    }
    .text-left {
        text-align: left !important;
    }
}

.broker-reg-wrapper {
    background: $cignaGlobalSecondary4;
    display:block;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 40px;
    .form-section {
        background: #fff;
        border-top: 10px $cignaGlobalPrimary1 solid;
        padding: 20px 40px;
        margin-bottom: 40px;
        
    }
    aside {
        background: #fff;
    }
    .sidebar, .side-bar {
        margin-top: 20px;
        margin-bottom: 0;
    }
    input {
        //border-radius:0;
    }
    
    .savenext .btn-cigna-medgray, .savenext .btn-cigna-primary {
        font-size: 25px;
        padding: 6px 18px;
    }
    .savenext .btn-cigna-medgray {
        margin-left: 15px;
    }
    .savenext .btn-cigna-primary {
        margin-right: 15px;
    }
    
    
}

.brokers {
    .side-bar.hidden-md {
        background: $cignaGlobalSecondary4 !important;
        padding: 0px 50px 20px 50px;
        @include bp(normal) {
            padding: 50px;
        }

    }
}

.nav-justified {
    margin: 20px 0 60px 0;
    background: #fff;
    li > a {
        padding: 20px 0;
        border-bottom: transparent;
        border-radius: 0;
    }
    li.active > a {
        background: $cignaGlobalPrimary1;
        color: #fff;
        border-radius: 0;
        border-bottom-color: transparent;
        &:after {
            content: "\f0dd"; 
            font-family: FontAwesome;
            color: $cignaGlobalPrimary1;
            padding: 0;
            margin: 0 auto;
            text-align: center;
            background: $cignaGlobalSecondary4;
            line-height: 0;
            display: block;
            font-size: 110px;
        }
        &:hover {
            background: $cignaGlobalPrimary1;
            border: none !important;
            color: #fff;
        }
    }
    
}

.nav-tabs.nav-justified > .active > a {
    border: none;
}

form .alert,
form .process
{
    display: none;
}

.terms-box {
    overflow-y: scroll;
    max-height: 300px;
    background: $cignaGlobalSecondary4;
    border: 1px solid #d4e1e7;
    padding: 40px 20px;
    margin: 40px 0;
    
    body::-webkit-scrollbar {
    width: 1em;
    }
 
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        display: block;
    }
     
    body::-webkit-scrollbar-thumb {
      background-color: $gray;
      outline: 1px solid $gray-light;
      display: block;
    }
}

.has-error {
    .form-control {
        border-color:#f63325;
    }
    .form-control-feedback, .help-block {
        color: #f63325;
    }
    .control-label {
        color: #616161;
    }
}

.has-success {
    .form-control {
        border-color:#52ba4c;
    }
    .form-control-feedback, .help-block {
        color: #52ba4c;
    }
    .control-label {
        color: #616161;
    }
}

.form-horizontal .form-group {
    padding-right: 20px;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: -20px;
}

.form-horizontal select {
  ////-webkit-appearance: none;
  ////-webkit-border-radius: 0px;
  ////border-radius: 0;
  //
  ///* make arrow and background */
  //
  //background:
  //  linear-gradient(45deg, transparent 50%, $gray 50%),
  //  linear-gradient(135deg, $gray 50%, transparent 50%),
  //  linear-gradient(to right, white, white);
  //  background-position: calc(100% - 23px) calc(1em + -2px), calc(100% - 15px) calc(1em + -2px), 100% 0;
  //background-size:
  //  8px 8px,
  //  8px 8px,
  //  0.5em 0.5em;
  //background-repeat: no-repeat;
  //
  ///* styling and reset */
  //
  ////border: thin solid blue;
  ////font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
  ////line-height: 1.5em;
  //padding: 0.5em 0em 0.5em 1em;
  //
  ///* reset */
  //
  //border-radius: 0;
  //margin: 0;      
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  //-webkit-appearance:none;
  //-moz-appearance:none;
}

.form-section table {
    border: $cignaGlobalPrimary1 2px solid;
    thead {
        background: $cignaGlobalPrimary1;
    }
    th {
        color: white;
        border-bottom: 0 !important;
    }
    i {
        color: #f63325;
        text-align: center;
        display: block;
    }
}

.form-section, .register-form {
    .upload {
        display: block;
        border: 1px #ccc solid;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    .del-logo {
        color: #f63325;
        display: block;
    }
    .required, .tableErrorDetails p {
        color: #f63325;
    }
}
