.brokers {
    background-color: transparent;
    .page-hero--short {
        &__heading {
            margin-bottom: 40px;
        }
        &__content  h2 {
            font-family: $proxima-light;
            @include font-size(18);
            margin: 0px 0 10px 0;
        }
    }
}

.gettingquote {
    @include font-size(24);
    margin-bottom: 30px;
    text-align: center;
    @include bp(tablet) {
        text-align: left;
    }
}
.quote-method {
    background: $cignaGlobalSecondary4;
    display: inline-block;
    border: 1px solid #d4e1e7;
    margin-bottom: 40px;
    padding-bottom: 20px;
    h1 {
        @include font-size(20);
        text-align: center;
        @include bp(tablet) {
            text-align: left;
        }
    }
    p {
        padding: 10px 5px;
        margin-bottom: 0;
    }
    .num-wrap {
        background: $cignaGlobalPrimary1;
        color: #fff;
        padding: 15px 20px 0 20px;
        margin-bottom: 20px;
        @include font-size(22);
        width: 100%;
        float: left;
        p {
            padding: 0;
            line-height: 0;
        }
        span {
            margin-right: 20px;
        }
    }
    .pull-right .num-wrap {
        float: right;
    }
    .img-wrap {
        height: 100%;
        float:none;
        @include bp(tablet) {
            float: right;
        }
        img {
            margin: 0 auto;
            display: inherit;
            max-height: 250px;
            @include bp(tablet) {
                float: right;
            }
        }
    }
    .btn-cigna-secondary {
        width: 100%;
        @include font-size(16);
        margin: 20px 0;
    }
    .contact {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        p {
            padding: 5px;
        }
    }
    strong {
        font-weight: 700;
    }
}