/***********************************************************************************
 *	- CONTACT
 ***********************************************************************************/ 	
 	
	#contact-form { 
		margin-bottom: 50px; 
	}
	
	#contact-form label {
		display: block;
	}
	
	#contact-form label.error {
		margin-bottom: 20px;
		color: #ec284a;
	}
	
	#contact-form textarea {
		font-size: 12px;
		margin-bottom: 20px;
	}
	
	#contact-form input[type="text"],
	#contact-form input[type="email"] {
		height: 40px;
		font-size: 12px;
		margin-bottom: 20px;
	}
	
	#contact-form input[type="submit"] {
		padding: 5px 20px;
	}