.contact-cta__list {
  @include zero;
  list-style: none;
}

.contact-cta__method {
  padding-top: 40px;
  padding-bottom: 40px;

  .icon {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }

  h3 {
    margin-top: 0;
    font-family: $proxima;
    @include font-size(24);
  }

  .contact-cta__outer {
    margin-left: 50px;
  }

  .btn {
    color: $cignaGlobalPrimary1;
    background: $cignaGlobalSecondary4;
    border: none;

  }
}

.contact-cta__list--primary {

  li {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(4);

    &:last-child {
      border-bottom: none;
    }
    .btn-lg {
      @include font-size(18);
      min-width:176px;
    }
    @include bp(tablet) {
      border-bottom: 1px solid $separationColor;
      h3 {
        float: left;
        width: 28%;
        padding-top: 8px;
      }
      .contact-cta__content {
        float: left;
        width: 40%;
        margin-left: 2%;
        margin-right: 2%;
      }
      .btn-wrap {
        float: right;
      }
      
    }

    @include bp(normal) {
      border-bottom: none;
      h3 {
        float: none;
        width: auto;
        padding-top: 0;
      }

      .contact-cta__content {
        float: none;
        width: auto;
        margin-left: 0;
      }

      .btn-wrap {
        float: none;
      }
    }
  }
}

.contact-cta__list--secondary {
  .contact-cta__method {
    color: $cignaGlobalPrimary1;
    @include font-size(14);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .btn {
    background: $cignaGlobalPrimary1;
    color: white;
    border-radius: 0;
    @include font-size(16);
    @extend .btn-md;
  }

}

/* Custom Broker site styles */

.brokers {
  .side-bar {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    .termslist {
      padding: 40px 0;
      h3 {
        font-family: $proxima-light;
        max-width: 100%;
        float: none;
        margin-left: 9%;
        @include bp(tablet) {
          max-width: 35%;
          padding-right: 5%;
          float: left;
          margin-left: 0;
        }
        @include bp(normal) {
          max-width: 100%;
          float: none;
          padding-right: 0;
          margin-left: 17%;
        }
      }
      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0px;
        max-width: 100%;
        margin-left: 9%;
        float: none;
        @include bp(tablet) {
          max-width: 35%;
          float: left;
          margin-left: 2%;
        }
        @include bp(normal) {
          max-width: 100%;
          float: none;
          margin-left: 17%;
        }
      }
    }
    @include bp(tablet) {
      margin-left: 0;
      margin-right: 0;
      .panel-separator {
        width: 100%;
        clear:both;
        border-bottom: 1px solid #d4e1e7;
      }
      .contact-cta__method .icon {
        max-width: 17%;
      }
      .contact-cta__outer h3, .contact-cta__method h3 {
        max-width: 25%;
        float:left;
      }
      .contact-cta__content {
        float: left;
        width: 40%;
        margin-left: 20px;
      }
      .btn-wrap {
        float: right;
        max-width: 20%
      }
    }
    @include bp(normal) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 25px;
      .termslist {
        display: block;
      }
      .panel-separator {
        width: auto;
        clear: none;
        border-bottom: none;
      }
      .contact-cta__method .icon {
        max-width: auto;
      }
      .contact-cta__outer h3, .contact-cta__method h3 {
        max-width: 100%;
        float:none;
      }
      .contact-cta__content {
        float: none;
        width: auto;
        margin-left: auto;
      }
      .btn-wrap {
        float: none;
        max-width: auto;
      }
    }
  }
}

