.core-cover {
  margin-top: 20px;
  margin-bottom: 20px;
  background: $cignaGlobalPrimary1;
  color: white;
  @include bp(tablet) {
    padding: 40px 30px;
  }
  @include bp(normal) {
    background: url('/sites/all/themes/cignaglobal/images/core-cover-home-bg.jpg') no-repeat;
    background-size: cover;
    min-height: 471px;
  }

  @include bp(wide) {
    min-height: 483px;
  }

  .fa-caret-down {
    position: absolute;
    left: 40%;
    margin-top: -30px;
    display: none;
  }

  .tab-content {

    .cover {
      letter-spacing: 1px;
      line-height: 1.428571429;
      font-family: $proxima-semi;
      color: $cignaGlobalSecondary2;
    }


  }

  li {
    &.active {
      position: relative;
      > a {
        color: $cignaGlobalSecondary2 !important;
        border: none;
        &:hover {
          color: $cignaGlobalPrimary1 !important;
          background: white !important;
        }
        &:focus {
          color: $cignaGlobalSecondary2;
        }
      }
      &:after {
        content: '▼';
        position: absolute;
        left: 45%;
        bottom: -16px;
        color: white;
      }
    }

    > a {
      border-radius: 0;
      border: none !important;
      color: white;
      background: $cignaGlobalSecondary4;
      background: rgba($cignaGlobalSecondary4, 0.2);
      padding: 10px 0 !important;
      &:hover {
        border: none;
        background: white;
        color: $cignaGlobalPrimary1;
      }
      &:focus {
        border: none;
      }
    }
  }

}

.core-cover {
  box-shadow: none;

  h3 {
    @include font-size(18);
    font-family: $proxima-bold;
  }

  p {
    @include font-size(18);
  }
}

.core-cover__tabs {
  border-bottom: none !important;
}

  .tab-pane__content {
    padding-top: 20px;
    min-height: 150px;
    @include bp(normal) {
      min-height: 221px;
    }
    @include bp(wide) {
      min-height: 180px;
    }
    p {
      line-height: 1.4rem;
    }
    .btn {
      float: right;
    }
}
