/***********************************************************************************
 *	+ FOOTER
 ***********************************************************************************/
 
 	#footer {
		padding: 85px 0 30px;
		background-color: #151515;
		color: #d7d7d7;
	}
	
	#footer a,
	#footer h1,
	#footer h2,
	#footer h3,
	#footer h4,
	#footer h5,
	#footer h6 {
		color: #d7d7d7;
	}
	
	#footer a:hover {
		color: #a8e12a;
	}
	
	#footer .widget {
		margin-bottom: 60px;
	}
	
	#footer .widget-title {
		font-weight: 400;
	}
	
	#footer .widget-tags a {
		color: #fff;
	}
	
	#footer .widget-pages ul li,
	#footer .widget-archives ul li,
	#footer .widget-metadata ul li, 
	#footer .widget-categories ul li,
	#footer .widget-recent-posts ul li {
		border-bottom-color: #636363;
	}
	
/***********************************************************************************
 *	+ FOOTER BOTTOM
 ***********************************************************************************/
 
 	#footer-bottom {
		padding: 20px 0;
		background-color: #181818;
		color: #d7d7d7;
	}
	
	#footer-bottom a,
	#footer-bottom h1,
	#footer-bottom h2,
	#footer-bottom h3,
	#footer-bottom h4,
	#footer-bottom h5,
	#footer-bottom h6 {
		color: #d7d7d7;
	}
	
	#footer-bottom a:hover {
		color: #a8e12a;
	}
	
	#footer-bottom .widget:last-child {
		margin-bottom: 0;
	}
	
	#footer-bottom .widget-tags a {
		color: #fff;
	}
	
	#footer-bottom .widget-pages ul li,
	#footer-bottom .widget-archives ul li,
	#footer-bottom .widget-metadata ul li, 
	#footer-bottom .widget-categories ul li,
	#footer-bottom .widget-recent-posts ul li {
		border-bottom-color: #636363;
	}