/***********************************************************************************
 *	+ FOOTER
 ***********************************************************************************/
 
 	#footer {
		padding: 85px 0 30px;
		background-color: $innovaPrimary1;
		color: $white;
	}
	
	#footer a,
	#footer h1,
	#footer h2,
	#footer h3,
	#footer h4,
	#footer h5,
	#footer h6 {
		color: #d7d7d7;
	}
	
	#footer a:hover {
		color: #a8e12a;
	}
	
	#footer .widget {
		margin-bottom: 60px;
	}
	
	#footer .widget-title {
		font-weight: 400;
	}
	
	#footer .widget-tags a {
		color: #fff;
	}
	
	#footer .widget-pages ul li,
	#footer .widget-archives ul li,
	#footer .widget-metadata ul li, 
	#footer .widget-categories ul li,
	#footer .widget-recent-posts ul li {
		border-bottom-color: #636363;
	}
	
/***********************************************************************************
 *	+ FOOTER BOTTOM
 ***********************************************************************************/
 
 	.social-links {
		padding: 20px 0;
		background-color: $innovaPrimary3;
		color: $white;
		.svg-innova-logo--white {
			display: inline-block;
		}
	}
	
	.social-links a,
	.social-links h1,
	.social-links h2,
	.social-links h3,
	.social-links h4,
	.social-links h5,
	.social-links h6 {
		color: #d7d7d7;
	}
	
	.social-links a:hover {
		color: #a8e12a;
	}
	
	.social-links .widget:last-child {
		margin-bottom: 0;
	}
	
	.social-links .widget-tags a {
		color: #fff;
	}
	
	.social-links .widget-pages ul li,
	.social-links .widget-archives ul li,
	.social-links .widget-metadata ul li, 
	.social-links .widget-categories ul li,
	.social-links .widget-recent-posts ul li {
		border-bottom-color: #636363;
	}