/***********************************************************************************
 *	+ GOOGLE MAPS
 ***********************************************************************************/
 
 	.map {
		margin-bottom: 100px;
		height: 450px;
	}
	
	.map img { 
		max-width: none; 
	}
	