/***********************************************************************************
 *	+ GO TOP
 ***********************************************************************************/
	
	#go-top {
		z-index: 99999;
		display: none;
		position: fixed;
		bottom: 30px;
		right: 30px;
		width: 36px;
		height: 36px;
		font-size: 18px;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		border-radius: 5px;
		border-bottom: 3px solid #13b0e4;
		background-color: #0bbff2;
		color: #fff;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	#go-top i {
		line-height: 36px;
	}
	
	#go-top:hover {
		border-bottom-color: #9ad121;
		background-color: #a8e12a;
	}