/***********************************************************************************
 *	- MENU
 ***********************************************************************************/
 	
 	.menu,
	.menu ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.menu {
		float: right;
		margin-top: 43px;
	}
	
	.menu > li { 
		float: left; 
	}
	
	.menu li a {
		display: block;
		font-size: 13px;
		text-decoration: none;
		padding: 15px 10px 15px 20px;
		color: #656565;
	}
	
	.menu > li > a {
		position: relative;
		margin-right: 30px;
		padding: 10px 10px 58px;
		font-size: 15px;
		font-weight: 500;
		color: #363636;
	}
	
	.menu > li:last-child > a {
		margin-right: 0;
	}
	
	.menu li.dropdown ul {
		position: absolute;
		top: 100%;
		left: 10px;
		display: none;
		z-index: 2000;
		width: 230px;
		border: 1px solid #f2f2f2;
		border-top: 2px solid #a8e12a;
		background-color: #fff;
	}
	
	.menu > li.dropdown:last-child > ul {
		left: auto;
		right: 0;
	}
	
	.menu li.dropdown ul  li a {
		border-bottom: 1px solid #f2f2f2;
	}
	
	.menu li.dropdown ul  li:last-child a {
		border-bottom: none;
	}
	
	.menu li.dropdown ul  li a:before {
		font-family: "mt-icons";
		font-size: 8px;
		content: "\e60d";
		position: relative;
		top: -1px;
		margin-right: 10px;
		color: #a8e12a;
	}
	
	.menu li.dropdown:nth-last-child(-n+3) ul  > li.dropdown > a:hover:before,
	.menu li.dropdown:nth-last-child(-n+3) ul  > li.dropdown.sfHover > a:before {
		content: "\e60a";
	}
	
	.menu li.dropdown ul ul {
		top: -2px;
		left: 100%;
		width: 180px;
	}
	
	.menu li.dropdown:nth-last-child(-n+3) ul ul {
		left: auto;
		right: 100%;
	}
	
	.menu li.dropdown:hover > ul {
		display: block;
	}
	
	.menu li.megamenu .megamenu-container {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: none;
		z-index: 2000;
		width: 100%;
		font-size: 13px;
		border: 1px solid #f2f2f2;
		border-top: 2px solid #a8e12a;
		background-color: #fff;
	}
	
	.megamenu-container .section {
		float: left;
		width: 25%;
		padding: 20px 20px 10px;
		border-right: 1px solid #f2f2f2;
	}
	
	.megamenu-container .section:last-child {
		border-right: none;
	}
	
	.megamenu-container.col-2 .section { 
		width: 50%; 
	}
	
	.megamenu-container.col-3 .section { 
		width: 33.33333333%; 
	}
	
	.megamenu-container.col-4 .section { 
		width: 25%; 
	}
	
	.megamenu-container.col-5 .section { 
		width: 20%; 
	}
	
	.menu li.megamenu:hover > .megamenu-container { 
		display: block; 
	}
	
	.menu li.megamenu .megamenu-container .section > ul {
		margin: 20px -20px -10px;
	}
	
	.menu li.megamenu ul li a {
		border-bottom: 1px solid #f2f2f2;
	}
	
	.menu li.megamenu ul li:first-child a {
		border-top: 1px solid #f2f2f2;
	}
	
	.menu li.megamenu ul li:last-child a {
		border-bottom: none;
	}
	
	.menu li.megamenu *:last-child {
		margin-bottom: 0;
	}
	
	.menu li.megamenu ul li a:before {
		font-family: "mt-icons";
		font-size: 8px;
		content: "\e60d";
		position: relative;
		top: -1px;
		margin-right: 10px;
		color: #a8e12a;
	}
	
	.sf-arrows .sf-with-ul:after {
		position: absolute;
		top: 50%;
		right: 0;
		width: 0;
		height: 0;
		margin-top: -36px;
		font-family: "mt-icons";
		font-size: 8px;
		content: "\e608";
		color: #a5a5a5;
	}
		
	.sf-arrows > li:hover > .sf-with-ul:after {
		color: #a8e12a;
	}
		
	.sf-arrows ul .sf-with-ul:after {
		margin-top: -14px;
		right: 20px;
		content: "\e60d";
	}
	
	.menu li:nth-last-child(-n+3) ul .sf-with-ul:after {
		display: none;
	}
	
	.sf-arrows ul li:hover > .sf-with-ul:after {
		color: #a8e12a;
	}
	
	.menu li a:hover, 
	.menu li.active > a, 
	.menu li.sfHover > a {
		color: #a8e12a;
	}
    
/***********************************************************************************
 *	- MOBILE MENU
 ***********************************************************************************/	
	
	#mobile-menu-button {
		float: right;
		display: none;
		font-size: 24px;
		line-height: 24px;
		padding: 5px 10px;
		border-radius: 3px;
		margin-top: 49px;
		border-bottom: 3px solid #9ad121;
		background-color: #a8e12a;
		color: #fff;
		-webkit-transition: background-color 0.3s,  border-color 0.3s;
				transition: background-color 0.3s,  border-color 0.3s;
	}
	
	#mobile-menu-button:hover {
		border-bottom-color: #a8e12a;
		background-color: #9ad121;
	}
	
	#mobile-menu,
	#mobile-menu ul {
		list-style: none;
		display: none;
		margin: 0;
	}
	
	#mobile-menu {
		border-bottom: 1px solid #d7d7d7;
		background-color: #fff;
	}
	
	#mobile-menu li a {
		display: block;
		padding: 10px 20px;
		border-top: 1px solid #d7d7d7;
		text-decoration: none;
		color: #363636;
	}
	
	#mobile-menu ul a {
		padding-left: 40px; 
	}
	
	#mobile-menu ul ul a {
		padding-left: 60px;
	}
	
	#mobile-menu .megamenu-container {
		display: none;
		margin-left: 0;
	}
	
	#mobile-menu .megamenu-container .section {
		float: none;
		width: 100%;
		margin-bottom: -1px;
	}
	
	#mobile-menu .megamenu-container .section:first-child {
		padding-top: 10px;
		border-top: 1px solid #d7d7d7;
	}
	
	#mobile-menu .megamenu-container .section:last-child {
		margin-bottom: 0;
	}
	
	#mobile-menu .megamenu-container .section ul {
		display: block;
		margin: 10px -25px -20px;
	}
	
	#mobile-menu .megamenu-container .section ul a {
		padding-left: 40px;
	}
	
	#mobile-menu .megamenu-container .section ul li:last-child a {
		border-bottom: 1px solid #d7d7d7;
	}
	
	#mobile-menu li.dropdown > a,
	#mobile-menu li.megamenu > a { 
		position: relative;
	}
	
	#mobile-menu li.dropdown > a:after,
	#mobile-menu li.megamenu > a:after {
		position: absolute;
		top: 17px;
		right: 25px;
		font-family: "mt-icons";
		font-size: 10px;
		line-height: 10px;
		content: "\e608";
	}
	
	#mobile-menu li.dropdown > a.open:after,
	#mobile-menu li.megamenu > a.open:after {
		content: "\e60e";
	}