// Top nav bar styles moved to bottom to over ride hover for main menu
.navbar--util {
  border-radius: 0;
  margin-bottom: 0;
  font-size: 0.75rem;
  background: #eee;
  color: white;
  min-height: 0px;
  margin-top: 0;
  border: none;
  a {
    color: white;
    &:hover {
      background: #eee;
      color: $cignaGlobalPrimary1;
    }
  }
  .open > a {
    background: #eee;
    color: $cignaGlobalPrimary1;
    width: 50%;
    float:left;
  }
 .dropdown-toggle {
    width:100%;
  }
  .element-invisible {
    display: none;
  }
  .dropdown {
      background: $cignaGlobalPrimary1;
      color: white;
      a {
        min-width: 155px;
        text-align: left;
        width: 50%;
        &:focus {
          background: $cignaGlobalPrimary1;
          color: white;
        }
      }
  }
  .dropdown-menu a {
    color: $cignaGlobalPrimary1;
    width: 100%;
    &:hover {
      background: $cignaGlobalPrimary1;
      color: white;
    }
    &:focus {
      background: $cignaGlobalPrimary1;
      color: white;
    }
  }
  .open {
    background: #eee;
    #language-switcher-menu li a {
        color: $cignaGlobalPrimary1;
        &:hover {
            color: white;
        }
        &:focus {
          background: $cignaGlobalPrimary1;
          color: white;
        }
    }
    a {
      &:focus {
        background: #eee;
        color: $cignaGlobalPrimary1;
      }
    }
  }
  .navbar-text, .last {
    display: none;
  }
  #language-switcher-menu, .search-dropdown {
     .cg-search {
        margin: 0 15px;
     }
  }
  .search-dropdown a {
    font-size: 1.15rem;
    text-align: right;
    float: right;
    margin-top: -45px;
    span.fa {
        padding-right: 20px;
        color: white;
    }
    &:hover, &:hover span.fa {
      color: $cignaGlobalPrimary1;
    }
    &:focus {
      background: $cignaGlobalPrimary1;
    }
    &:focus span.fa {
      color: white;
    }
  }
  
  .hide-ext {
    margin-top: -45px;
  }
  .show-ext {
    margin-top: -200px !important;
    background: $cignaGlobalPrimary1;
  }
  .search-dropdown .show-ext:hover {
      background: #eee !important;
      span.fa {
        color: $cignaGlobalPrimary1 !important;
      }
    }
  .search-dropdown.open {
    a {
        margin-top: -45px;
        min-height: 45px;
        background: #eee;
        span.fa {
            background: #eee;
            color: $cignaGlobalPrimary1;
        }
    }
    .show-ext {
        margin-top: -50px !important;
    }
  }
  
  .navbar-nav {
    background: #eee;
    margin-left: 0;
    margin-right: 0;
    li {
        height: 100%;
    }
  }
  .container {
    border-bottom: 3px solid $cignaGlobalPrimary1;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-right {
    float: left !important;
    background: $cignaGlobalPrimary1;
  }
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-toggle {
  font-size: 3.5rem;
  @extend .float--right;
  color: $cignaGlobalPrimary1;
  position: absolute;
  top: 5px;
  right: 15px;
  &:hover, &:focus {
    text-decoration: none;
  }
}

// main nav
.nav-main {
  margin-bottom: 0;
  display: none;
}

.nav-main .navbar-brand {
  height: auto;
  padding-bottom: 0;
}

.nav-main .nav {
  margin-bottom: 0;
  margin-top: 5px;
  font-family: $proxima;
  font-style: normal;
  font-weight: 300;
}

/* Safari 9 only hack to position menu correctly */
_::-webkit-:not(:root:root), .nav-main .nav {
    margin-top: 10px;
}

.nav-main li {
  margin-top: 0;
  margin-bottom: 0;
}

// color of the top level items
.nav-main a {
  color: $grey;
}

.dropdown-menu>li>a {
    color: white;
}

.nav-main .nav > li > a {
  &:focus {
    background-color: $cignaGlobalPrimary1;
    color: white;
  }
  &:hover {
    color: white;
    background-color: $cignaGlobalPrimary1;
  }
}

// color of elements when dropdown is open
.nav-main .dropdown-menu {
  left: auto;
  right: 0;
  border: none;
  padding: 15px 20px;
  position: absolute;
  li a:hover {
    color: $cignaGlobalPrimary1;
    background-color: white !important;
    .caret {
      border-top-color: white;
      border-bottom-color: white;
    }
  }
}

.nav-main .dropdown-menu li {
  display: inline;
  float: left;
  width: 50%;
  border-right: 1px solid $cignaGlobalPrimary1;
  &:nth-child(even) {
    border: none;
  }
}

.nav-main .dropdown-menu li a {
  width: 100%;
  white-space: normal;
  font-size: 14px;
  padding: 15px 15px 15px 48px;
}

.nav-main .dropdown-menu li a .fa-angle-right {
  display: inline;
  margin: 0 30px 0 0;
  padding: 4px 0 15px 0;
  vertical-align: top;
}

// sets the colour of the second level nav items on
// hover and on focus
.nav-main .dropdown .dropdown-menu li a {
  &:hover, &:focus {
    background: white;
    color: $cignaGlobalPrimary1;
  }
}

.nav-main .dropdown-menu li a:hover .dropdown a {
  color: white;
}

.nav-main .dropdown a .caret {
  margin-left: 8px;
  padding-bottom: 0;
}

.nav-main .dropdown .fa-search {
  margin-left: -3px;
}

.nav-main {
    .active-trail, .active {
     background-color: #eeeeee; // menu active class for top
    }
    // activate menu on hover
    .dropdown:hover .dropdown-menu {
      display: block;
      background-color: $cignaGlobalPrimary1;
    }
    li.dropdown:hover, .dropdown a:hover, .dropdown-menu li:hover > a, li.dropdown:hover > a {
      background-color: $cignaGlobalPrimary1;
      color: white;
      display: block !important;
    }
    .dropdown-menu li:hover, .dropdown-menu li a:hover {
      background-color: white;
      color: $cignaGlobalPrimary1;
    }
}

.nav-main .search-dropdown .fa {
  color: $cignaGlobalPrimary1;
}

.nav-main .search-dropdown:hover .fa {
  color: white;
}

.nav-main .cg-search {
  width: 100% !important;
  height: 100%;
  border: none;
}

.nav-main .cg-search form.navbar-form.navbar-left {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-main .cg-search .form-group {
  width: 100%;
  height: 100%;
  padding: 0;
}

.nav-main .cg-search .form-control {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 0;
}

.nav--top {
  text-align: center;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .nav-toggle {
      position: relative;
      top: -10px;
    }
    .navbar--util {
        .nav-justified>li, .nav-justified>li>a {
            position: relative;
        }
        .nav-justified>li.open, .nav-justified>li.open>a {
            display: block;
            width: 30%;
            .dropdown-menu {
                width:200%;
            }
        }
        background-color: $cignaGlobalPrimary1;
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
        }
        .dropdown, .dropdown a {
            float:left;
            min-width: 155px;
            width: 30%;
        }
        #language-switcher-menu {
            right: 0;
            width: 100%;
            padding-bottom: 20px;
        }
        .dropdown, .search-dropdown a {
            float: none;
        }
        .search-dropdown {
            float: right;
            a {
                margin-top: -50px !important;
                background: $cignaGlobalPrimary1;
                width: 30%;
                float: right;
                min-width: 240px;
            }
            .show-ext {
                 margin-top: -150px!important;
            }
        }
        .search-dropdown.open {
            .dropdown-menu {
                margin-left: -100%;
            }
        }
        .dropdown.open {
          .caret {
            float: right;
            margin-top: 7px;
          }
        }
        .hide-ext {
            margin-top: -45px;
        }
        .show-ext {
            background: $cignaGlobalPrimary1;   
        }
        .search-dropdown.open {
            a {
                background: #eee;
                span.fa {
                    background: #eee;
                    color: $cignaGlobalPrimary1;
                }
            }
            .show-ext {
                margin-top: -50px !important;
            }
        }
    }
    .navbar-form,
    .navbar-form .form-group,
    .navbar-form input {
        width: 122%!important;
        margin-left: -21%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .nav-main .dropdown-menu {
        min-width: 760px;
    }
    .navbar--util {
        .container {
            /*border-bottom: none;*/
        }
        #language-switcher-menu {
            right: 0;
            width: 100%;
        }
        .search-dropdown a {
          min-width: 450px;
        }
        .navbar-form, .navbar-form .form-group, .navbar-form input {
            width: 120%!important;
            margin-left: -20%;
        }
    }
    .nav-main {
        li .dropdown-menu {
            width: 884px;
        }
        li:first-child .dropdown-menu {
              left: 0;
        }
        li:nth-child(2) .dropdown-menu {
            left: -195px;
        }
        li:nth-child(3) .dropdown-menu {
            left: -410px;
        }
        li:nth-child(4) .dropdown-menu {
            left: -588px;
        }
        li:nth-child(6) .dropdown-menu {
            left: -765px;
        }
        li:last-child .dropdown-menu {
            left: -842px;
        }  
    }
}

@media (min-width: 1025px) {
    .nav-toggle {
        display: none;
    }
    .nav-main {
        display: block;
    }
    .nav--top {
        display: none !important;
    }
    .navbar--util {
        background-color: $cignaGlobalPrimary1;
        .navbar-text, .last {
            display: block;
        }
        .navbar-nav {
            border-bottom: 0;
            background: $cignaGlobalPrimary1;
            li {
                float: left !important;
            }
            .caret {
                float: right;
                margin-top: 7px;
            }
        }
        .dropdown {
            width: auto;
            min-width: 155px;
        }
        .search-dropdown {
            display: none;
        }
        .navbar-right {
            float: right !important;
            background: $cignaGlobalPrimary1;
          }
        #language-switcher-menu {
            width:155px;
        }
        .open {
            border-bottom: 0;
            .dropdown-menu {
                position: absolute !important;
                top: 100%;
                left: 0;
                z-index: 1000;
                float: left;
                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                font-size: 14px;
                text-align: left;
                background-color: #fff !important;
                border: 1px solid #ccc !important;
                border: 1px solid rgba(0,0,0,.15) !important;
                border-radius: 4px;
                box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
                background-clip: padding-box;
            }
        }
    }
    .search-dropdown {
          .navbar-form, .navbar-form .form-group, .navbar-form input {
              width: 100%!important;
              margin-left: 0%;
              height: 44px;
          }
        }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    li .dropdown-menu {
        width: 1170px;
    }
    li:first-child .dropdown-menu {
        left: -270px;
    }
    li:nth-child(2) .dropdown-menu {
        left: -465px;
    }
    li:nth-child(3) .dropdown-menu {
        left: -680px;
    }
    li:nth-child(4) .dropdown-menu {
        left: -868px;
    }
    li:nth-child(6) .dropdown-menu {
        left: -1049px;
    }
    li:last-child .dropdown-menu {
        left: -1128px;
    }
    .navbar--util {
        background-color: $cignaGlobalPrimary1;
        .navbar-text, .last {
            display: block;
        }
        .navbar-nav {
            border-bottom: 0;
            background-color: $cignaGlobalPrimary1;
            li {
                float: left !important;
            }
        }
        .dropdown {
            width: auto;
            min-width: 155px;
        }
        .search-dropdown {
            display: none;
        }
        .navbar-right {
            float: right !important;
            background: $cignaGlobalPrimary1;
          }
    }
}
.element-invisible { display: none; }

/* Safari only hack for 9+ */
@supports (overflow:-webkit-marquee) and (justify-content:inherit) 
{
  @include bp(normal) {
    .navbar-nav>li>a {
      padding: 10px 12px;
    }
  }
  @include bp(wide) {
    .navbar-nav>li>a {
      padding: 10px 15px;
    }
  }
}

/* iPad Air 2 fix for mob search bar */
@media only screen and (device-width: 1024px) and (device-height: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar--util .search-dropdown a {
    min-width: 455px !important;
    margin-top: -40px !important;
  }
}
