.our-plans {

  &-container {
    background: $cignaGlobalPrimary1;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    @include bp(tablet){
      padding: 40px 30px;
    }

    @include bp(wide) {
      min-height: 483px;
    }

    h2 {
      margin-top: 0;
    }

    li {
      position: relative;
      &:after {
        content: '>';
        color: white;
        position: absolute;
      }
      &:first-child {
        border-bottom: 1px solid $cignaGlobalPrimary2;
        border-top: 1px solid $cignaGlobalPrimary2;
      }
      &:last-child {
        border-bottom: 1px solid $cignaGlobalPrimary2;
      }
      a {
        color: white;
        display: inline-block;
        width: 97%;
      }
    }
    .toppad {
      padding-top: 120px;
      a {
        display: block;
        color: white;
        text-align: center;
      }
    }
  }


  &__getquote {
    margin-top: 25px;
    padding: 20px;
    font-size: 25px;
  }
}