.plantables {
    background: #e7edf0;
    margin: 20px 0;
    padding: 20px 0 0 0;
    display: inline-block;
    margin-left: -15px;
    margin-right: -15px;
    border: 1px solid #d4e1e7;
    @include bp(normal) {
      margin-left: 0px;
      margin-right: 0px;
    }
    p {
        color: $grey;
    }
    h2 {
        color: $cignaGlobalPrimary1;
    }
    p, h2 {
        padding: 0 30px;
    }
    .greycol {
      background-color: #e7edf0;
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
      margin-bottom: 20px;
      border-left: 1px solid #d4e1e7;
      @include bp(normal) {
        margin-bottom: 0;
      }
      &:nth-of-type(0) {
        border-left: none !important;
        margin-left: -1px;
      }
        p {
            margin-bottom: 0;
        }
        h2, h3 {
          margin-top: 0;
          font-family: $proxima-extra;
        }
        h3 {
            padding: 23px 50px 9px;
          font-size: 18px;
          font-weight: 900;
          color: $grey;
        }
      .tablehead {
        &__bronze {
            border-bottom: solid 5px #f79820;
        }
        &__silver {
          border-bottom: solid 5px #5abaf6;
        }
        &__gold {
          border-bottom: solid 5px #1582c5;
        }
        &__platinum {
          border-bottom: solid 5px #025685;
        }
        
      }
      .plan-badge {
        display: inline-block;
        text-align: center;
        float: left;
        padding: 15px 10px;

        &--bronze {
            background: #f79820;
        }
        &--silver {
          background: #5abaf6;
          @include bp(tablet) {
            margin-left: -1px;
          }
        }
        &--gold {
          background: #1582c5;
          @include bp(tablet) {
            margin-left: -1px;
          }
        }
        &--platinum {
          background: #025685;
          @include bp(tablet) {
            margin-left: -1px;
          }
        }
        .fa {
          display: block;
          color: white;
        }
        .fa-certificate {
          @include font-size(25);
          color: white;
        }
        .fa-bookmark {
          margin-top: -8px;
          @include font-size(17);
          color: white;
        }
      }
      .tablecontent {
        &__bronze, &__silver, &__gold, &__platinum {
          padding: 20px 15px;
          p>span, h2 {
            color: $grey;
          }
          .pull-left {
                width:100%;
            }
        }

        a.text-center {
            display: inherit;
        }
      }
         a {
          margin: 20px auto;
          text-align: center;
        }
      
      .price {
        padding: 20px 0;
        h2 {
          font-weight: bold;
          margin-bottom: 0;
          font-size: 40px;
        }
        .visible-sm {
          margin-top: 0px;
          @include bp(tablet) {
            margin-top: 40px;
          }
          @include bp(normal) {
            margin-top: 0;
          }
        }
      }
      
      .no-pad {
        padding-left: 0;
        padding-right: 0;
      }
      
      .list--green-checks {
          @include zero;
          list-style: none;
          margin-left: 25px !important;
          padding-left: 0;
          > li {
            margin-bottom: 15px;
            padding-left: .5em;
            text-indent: -1em;
            margin-left: 20px;
            color: $grey;
            @include bp(tablet) {
               margin-left: 0;
            }
            &:before {
              @extend .fa;
              @extend .fa-check;
              color: $cignaSecondary1;
              padding-right: 16px;
            }
          }
          > li.cross {
            &:before {
              @extend .fa;
              @extend .fa-remove;
              color: #f23e0e;
              padding-right: 16px;
            }
          }
        }
    }
    @include bp(tablet) {
        .greycol:nth-of-type(2), .greycol:nth-of-type(3) {
            border-left: 1px solid #d4e1e7 !important;
        }
    }
    .btn-lg {
        padding: 10px;
        @include font-size(22);
        width: 100%;
    }
}

.brokers .our-plans-wrapper {
    h2 {
        font-family: $proxima-light;
    }
    .plantables {
        padding: 0;
        .greycol {
            margin-bottom: 0;
            ul {
                padding-bottom: 15px;
            }
        }
    }
}

body.front {
    .plantables .greycol .price {
        display: none;
        @include bp(tablet) {
            display: block;
        }
        @include bp(normal) {
            display: none;
        }
    }
    .plantables .greycol .list--green-checks {
        @include bp(normal) {
            min-height: 325px;
        }
        @include bp(wide) {
            min-height: 295px;
        }
    }
    .tablecontent {
        &__bronze, &__silver, &__gold, &__platinum {
          padding: 0px 15px 20px 15px;
        }
    }
}
