.search-result-grouping {
  margin-bottom: 20px;
}

.search-results {
  @include zero;
  list-style: none;
}

.search-result {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 1em;
  &:last-child {
    border-bottom: none;
  }
}