/***********************************************************************************
 *	- SERVICES
 ***********************************************************************************/
 	
	/* SERVICE BOX STYLE 1 */
	.service-box.style-1 {
		margin-bottom: 40px;
	}
	
	.service-box.style-1 > i {
		margin-bottom: 20px;
		font-size: 32px;
		color: #a8e12a;
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		-webkit-transition: all 0.2s;
				transition: all 0.2s;
	}
	
	.service-box.style-1 .service-box-content {}
	
	.service-box.style-1 .service-box-content h4,
	.service-box.style-1 .service-box-content h5 {
		font-weight: 500;
	}
	
	.service-box.style-1 .service-box-content > a {
		font-weight: 400;
	}
	
	.service-box.style-1:hover > i {
		color: #0bbff2;
		-webkit-animation: icon-zoom 0.7s linear;
				animation: icon-zoom 0.7s linear;
	}
	
	@-webkit-keyframes icon-zoom {
		50% {
			-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
					transform: scale(1.2);
		}
	}

	@keyframes icon-zoom {
		50% {
			-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
					transform: scale(1.2);
		}
	}
	
	
	/* SERVICE BOX STYLE 2 */
	.service-box.style-2 {
		margin-bottom: 40px;
	}
	
	.service-box.style-2 > i {
		float: left;
		font-size: 32px;
		color: #a8e12a;
		-webkit-transition: all 0.2s;
				transition: all 0.2s;
	}
	
	.service-box.style-2 .service-box-content { 
		margin-left: 65px;
	}
	
	.service-box.style-2 .service-box-content h3 {
		line-height: 32px;
		font-weight: 500;
	}
	
	.service-box.style-2 .service-box-content h5 {
		font-weight: 500;
		margin-bottom: 15px;
	}
	
	.service-box.style-2 .service-box-content > a {
		font-weight: 400;
	}
	
	.service-box.style-2:hover > i {
		color: #0bbff2;
		-webkit-animation: icon-zoom 0.7s linear;
				animation: icon-zoom 0.7s linear;
	}
	
	@-webkit-keyframes icon-zoom {
		50% {
			-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
					transform: scale(1.2);
		}
	}

	@keyframes icon-zoom {
		50% {
			-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
					transform: scale(1.2);
		}
	}
	
	
	/* SERVICES BOXES STYLE 3 */
	.service-box.style-3 {
		margin: 40px 0;
	}
	
	.service-box.style-3 > i {
		line-height: 27px;
		color: #a8e12a;
		-webkit-transition: all 0.2s;
				transition: all 0.2s;
	}
	
	.service-box.style-3 .service-box-content {
		margin-top: 15px;
	}
	
	.service-box.style-3 > h4 {
		font-weight: 500;
	}
	
	.service-box.style-3.icon-left > i {
		float: left;
	}
	
	.service-box.style-3.icon-left > h4,
	.service-box.style-3.icon-left .service-box-content {
		margin-left: 30px;
	}
	
	
	.service-box.style-3.icon-right {
		text-align: right;
	}
	
	.service-box.style-3.icon-right > i {
		float: right;
	}
	
	.service-box.style-3.icon-right > h4,
	.service-box.style-3.icon-right .service-box-content {
		margin-right: 30px;
	}
	
	.service-box.style-3:hover > i {
		color: #0bbff2;
		-webkit-animation: icon-zoom 0.7s linear;
				animation: icon-zoom 0.7s linear;
	}
	
	@-webkit-keyframes icon-zoom {
		50% {
			-webkit-transform: scale(1.5);
				-ms-transform: scale(1.5);
					transform: scale(1.5);
		}
	}

	@keyframes icon-zoom {
		50% {
			-webkit-transform: scale(1.5);
				-ms-transform: scale(1.5);
					transform: scale(1.5);
		}
	}
	
	
	/* SERVICE BOX STYLE 4 */
	.service-box.style-4 {
		position: relative;
		padding: 60px;
		border-bottom: 3px solid #f0f0f0;
		background-color: #f0f0f0;
		color: #636363;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.service-box.style-4.left-side {
		margin-right: -15px;
	}
	
	.service-box.style-4.right-side {
		margin-left: -15px;
	}
	
	.service-box.style-4 > h1 {
		position: absolute;
		top: 20px;
		right: 40px;
		color: #363636;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.service-box.style-4 .service-box-content h4 {
		margin-bottom: 20px;
	}
	
	.service-box.style-4 .service-box-content h4 a {
		color: #363636;
	}
	
	.service-box.style-4 .service-box-content > *:last-child {
		margin-bottom: 0;
	}
	
	.service-box.style-4:hover {
		border-bottom-color: #13b0e4;
		background-color: #0bbff2;
		color: #fff;
	}
	
	.service-box.style-4:hover > h1,
	.service-box.style-4:hover .service-box-content h4 a {
		color: #fff;
	}
	
	.service-box.style-4:hover .service-box-content h4 a:hover {
		color: #a8e12a;
	}
	
	
	/* SERVICE BOX STYLE 5 */
	.service-box.style-5 {
		margin-bottom: 50px;
		text-align: center;
	}
	
	.service-box.style-5 .service-box-content {
		display: none;
	}
	
	.service-box.style-5 > a {
		display: inline-block;
		width: 18px;
		height: 18px;
		overflow: hidden;
		text-decoration: none;
	}
	
	.service-box.style-5 > a:before {
		font-family: "mt-icons";
		content: "\e608";
		padding: 3px;
	}
	
	.service-box.style-5 > a.open:before {
		content: "\e60e";
	}
	
	.service-box.style-5:hover {
		cursor: pointer;
	}
	
	
	/* SERVICE BOX STYLE 6 */
	.service-box.style-6 {
		padding: 0 20px 20px 20px;
		margin-bottom: 50px;
		text-align: center;
		background: url("../../images/backgrounds/bg-9.jpg") no-repeat center center;
		-webkit-transition: box-shadow 0.3s;
				transition: box-shadow 0.3s;
	}
	
	.service-box.style-6 .service-box-image {
		margin: 0 -20px 40px -20px;
	}
	
	.service-box.style-6 .service-box-content h4 {
		font-weight: 400;
	}
	
	.service-box.style-6:hover {
		box-shadow: 0 0 40px 10px #ccc;
	}