/***********************************************************************************
 *	- SHOP
 ***********************************************************************************/

	.products {
		list-style: none;
		margin: -15px -15px 70px -15px;
	}
	
	.products .product {
		position: relative;
		float: left;
		width: 25%;
		padding: 15px;
		text-align: center;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.product-container {
		position: relative;
		z-index: 2;
		padding: 35px 20px;
		border: 1px solid #f2f2f2;
	}
	
	.product-thumbs > a:before,
	.product-thumbs > a:after,
	.product-container:before,
	.product-container:after {
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		content: "";
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	.product-thumbs > a:before,
	.product-container:before {
		border-right: 1px solid #0bbff2;
		border-left: 1px solid #0bbff2;
		-webkit-transform: scaleY(0);
			-ms-transform: scaleY(0);
				transform: scaleY(0);
		-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
				transform-origin: 100% 0;
	}
	
	.product-thumbs > a:after,
	.product-container:after {
		border-top: 1px solid #0bbff2;
		border-bottom: 1px solid #0bbff2;
		-webkit-transform: scaleX(0);
			-ms-transform: scaleX(0);
				transform: scaleX(0);
		-webkit-transform-origin: 0 100%;
			-ms-transform-origin: 0 100%;
				transform-origin: 0 100%;
	}
	
	.products.col-3 .product {
		width: 33.33333%;
	}
	
	.products.col-4 .product {
		width: 25%;
	}
	
	.products .product img {
		margin-bottom: 20px;
	}
	
	.products .product .price {
		margin-bottom: 25px;
	}
	
	.products .product .btn {
		margin-bottom: 0;
		color: #fff;
	}
	
	.products .product .btn-grey {
		color: #363636;
	}
	
	.products .product a {
		position: relative;
		z-index: 1;
		color: #363636;
		text-decoration: none;
	}
	
	.products .product .add_to_wishlist {
		position: absolute;
		bottom: 45px;
		left: 12px;
		opacity: 0;
		color: #0bbff2;
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	.products .product .add_to_wishlist:hover {
		color: #a8e12a;
	}
	
	.product-thumbs {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 10px;
		opacity: 0;
		text-align: center;
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	.product-thumbs > a {
		display: block;
		margin-bottom: 10px;
		border: 1px solid #f2f2f2;
	}
	
	.products .product .product-thumbs > a img {
		display: block;
		margin-bottom: 0;
	}
	
	.products .product .tag {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 50%;
		display: block;
		padding: 0 5px;
		border-radius: 2px;
		border-bottom: 2px solid;
		font-size: 11px;
		letter-spacing: 1px;
		text-transform: uppercase;
		-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
	}
	
	.products .product .tag:before {
		content: "";
		z-index: 1;
		position: absolute;
		bottom: -8px;
		left: 50%;
		margin-left: -5px;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 8px solid;
		-moz-transform: scale(0.9999);
	}
	
	.products .product .tag:after {
		content: "";
		z-index: 2;
		position: absolute;
		bottom: -5px;
		left: 50%;
		margin-left: -8px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid;
		-moz-transform: scale(0.9999);
	}
	
	.products .product .tag.new {
		border-bottom-color: #9ad121;
		background-color: #a8e12a;
		color: #fff;
	}
	
	.products .product .tag.new:before {
		border-top-color: #9ad121;
	}
	
	.products .product .tag.new:after {
		border-top-color: #a8e12a;
	}
	
	.products .product .tag.sale {
		border-bottom-color: #d12142;
		background-color: #ec284a;
		color: #fff;
	}
	
	.products .product .tag.sale:before {
		border-top-color: #d12142;
	}
	
	.products .product .tag.sale:after {
		border-top-color: #ec284a;
	}
	
	.product-thumbs > a:hover:before,
	.product-container:hover:before {
		-webkit-transform: scaleY(1); 
			-ms-transform: scaleY(1); 
				transform: scaleY(1); 
	}
	
	.product-thumbs > a:hover:after,
	.product-container:hover:after {
		-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
				transform: scaleX(1);
	}
	
	.product-container:hover .product-thumbs,
	.product-container:hover .add_to_wishlist {
		opacity: 1;
	}
	
	.product .images {
		float: left;
		width: 50%;
		padding-right: 30px;
	}
	
	.product .images > a {
		float: left;
		width: 85%;
	}
	
	.product .images > a img {
		padding: 20px;
		border: 1px solid #f2f2f2;
	}
	
	.product .images .product-thumbs {
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		float: left;
		width: 15%;
		padding-right: 20px;
	}
	
	.product .images .product-thumbs a {
		position: relative;
	}
	
	.product:after,
	.products:after,
	.product .images:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	.summary {
		float: left;
		width: 50%;
	}
	
	.summary .hr {
		margin: 15px 0;
	}
	
	.summary h5 {
		display: inline-block;
		margin-right: 20px;
	}
	
	.summary select {
		display: inline-block;
		padding: 0 5px;
		height: 25px;
		font-size: 13px;
	}
	
	.summary .product-colors {
		display: inline-block;
	}
	
	.summary .product-colors a {
		display: inline-block;
		width: 18px;
		height: 18px;
		text-indent: -9999px;
	}
	
	.summary .product-colors a:nth-child(1) {
		background-color: #363636;
	}
	
	.summary .product-colors a:nth-child(2) {
		background-color: #d7d7d7;
	}
	
	.summary .product-colors a:nth-child(3) {
		background-color: #a67c52;
	}
	
	.summary .price {
		display: inline-block;
	}
	
	.summary .price span {
		color: #0bbff2;
	}
	
	.summary input[type="number"] {
		display: inline-block;
		margin: 0 20px;
		width: 75px;
		padding: 0 10px;
		height: 40px;
	}
	
	.summary .btn {
		vertical-align: super;
	}
	
	.woocommerce-tabs {
		margin: 50px 0 100px;
	}