/***********************************************************************************
 *	- STICKY
 ***********************************************************************************/
 	
	@media (min-width: 992px) {
	
		#header.header-sticky {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 100%;
			z-index: 8000;
			padding-top: 10px;
			background-color: #fff;
			box-shadow: 0 1px 3px #d7d7d7;
			-webkit-transition: padding-top 0.3s;
					transition: padding-top 0.3s;
		}
		
		#header.header-sticky #logo {
			margin-top: 0;
			margin-bottom: 5px;
		}
		
		#header.header-sticky #logo img {
			width: 75%;
		}
		
		#header.header-sticky .menu {
			margin-top: 0;
		}
		
		#header.header-sticky .menu > li > a {
			padding-top: 5px;
			padding-bottom: 15px;
		}
		
		#header.header-sticky a.search-button { 
			top: 1px;
		}
		
		#header.header-sticky #search-container {
			margin-top: -12px;
		}
		
		#header.header-sticky #search-container input[type="search"] {
			height: 40px;
			padding: 5px 15px;
		}
		
		#header.header-sticky .sf-arrows .sf-with-ul:after { 
			margin-top: -17px; 
		}
		
		#header.header-sticky .sf-arrows ul .sf-with-ul:after {
			margin-top: -12px;
		}
	
	}