/***********************************************************************************
 *	+ VIDEO PLAYER
 ***********************************************************************************/	
	
	#youtube-video-section {
		position: absolute;
		overflow: hidden;
		z-index: 1;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	#video-section {
		padding: 0;
		height: 650px;
	}
	
	.youtube-player {
		display: none;
	}