// non-namespaced CSS elements

body {
  font-family: $proxima;
  color: $grey;
  background-color: $white;
}

.shell {
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: $proxima;
  font-weight: normal;
  margin-top: 0;
  &:blank {
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto !important;
}

ul, ol {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  line-height: 1.8em;
  &:blank {
    display: none;
  }
}

a:focus {
  outline: none;
}

.cookie-notice {
  text-align: center;
  padding: 1em;
  p {
    margin-bottom: 0;
  }
  .closeCookieNotice {
    margin-left: 10px;
  }
}

.lead-img-text {
  margin-bottom: 40px;
  background-color: #eef4f7;
  margin-top: -25px;
  padding-bottom: 60px;
  @include bp(tablet) {
    background-color: transparent;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  img {
    position: relative;
    top: 0;
    left: 0;
    height: auto !important;
  }
  &__text {
    position: absolute;
    width: 80%;
    top: 35px;
    left: 40px;
    @include bp(tablet) {
      width: 60%;
      .list--green-checks {
        margin-left: 25px;
      }
    }
  }
}

.is--blue {
  color: $innovaPrimary1 !important;
}

//.is--orange {
//  color: $cignaGlobalSecondary2 !important;
//}
//
//.is--white {
//  color: white !important;
//}

.list--green-checks {
  @include zero;
  list-style: none;
  margin-left: 25px !important;
  padding-left: 0;
  > li {
    margin-bottom: 5px;
    padding-left: .5em;
    text-indent: -1em;
    margin-left: 20px; 
    @include bp(tablet) {
       margin-left: 0;
    }
    &:before {
      @extend .fa;
      @extend .fa-check;
      //color: $cignaSecondary1;
      padding-right: 16px;
    }
  }
}

.columns--two {
  column-count: 2;
}

.cke_editable {
  padding: 20px;
}

.image {
  &--left {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  &--right {
    float: right;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
  }
  &--center {
    display: block;
    margin: 1em auto;
  }
}