@font-face {
  font-family: 'Proxima Nova Regular';
  src:  url('../font/proximanova_regular_macroman/proximanova-reg-webfont.eot?') format('eot'),
        url('../font/proximanova_regular_macroman/proximanova-reg-webfont.woff') format('woff'),
        url('../font/proximanova_regular_macroman/proximanova-reg-webfont.ttf') format('truetype'),
        url('../font/proximanova_regular_macroman/proximanova-reg-webfont.svg#ProximaNovaRgRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src:  url('../font/proximanova_bold_macroman/proximanova-bold-webfont.eot?') format('eot'),
        url('../font/proximanova_bold_macroman/proximanova-bold-webfont.woff') format('woff'),
        url('../font/proximanova_bold_macroman/proximanova-bold-webfont.ttf') format('truetype'),
        url('../font/proximanova_bold_macroman/proximanova-bold-webfont.svg#ProximaNovaRgBold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Proxima Nova Semi Bold';
  src:  url('../font/proximanova_semibold_macroman/proximanova-sbold-webfont.eot?') format('eot'),
        url('../font/proximanova_semibold_macroman/proximanova-sbold-webfont.woff') format('woff'),
        url('../font/proximanova_semibold_macroman/proximanova-sbold-webfont.ttf') format('truetype'),
        url('../font/proximanova_semibold_macroman/proximanova-sbold-webfont.svg#ProximaNovaLtSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src:  url('../font/proximanova_black_macroman/proximanova-black-webfont.eot?') format('eot'),
        url('../font/proximanova_black_macroman/proximanova-black-webfont.woff') format('woff'),
        url('../font/proximanova_black_macroman/proximanova-black-webfont.ttf') format('truetype'),
        url('../font/proximanova_black_macroman/proximanova-black-webfont.svg#ProximaNovaBlBlack') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src:  url('../font/proximanova_light_macroman/proximanova-light-webfont.eot') format('eot'),
        url('../font/proximanova_light_macroman/proximanova-light-webfont.woff') format('woff'),
        url('../font/proximanova_light_macroman/proximanova-light-webfont.ttf') format('truetype'),
        url('../font/proximanova_light_macroman/proximanova-light-webfont.svg#ProximaNovaLtLight') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src:  url('../font/proximanova_extrabold_macroman/proximanova-xbold-webfont.eot') format('eot'),
        url('../font/proximanova_extrabold_macroman/proximanova-xbold-webfont.woff') format('woff'),
        url('../font/proximanova_extrabold_macroman/proximanova-xbold-webfont.ttf') format('truetype'),
        url('../font/proximanova_extrabold_macroman/proximanova-xbold-webfont.svg#ProximaNovaThExtrabold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}