//
// Variables
// --------------------------------------------------

// Fonts
// --------------------------------------------------
$sans-serif: Arial, sans-serif;
$proxima: "Proxima Nova Regular", $sans-serif;
$proxima-light: "Proxima Nova Light", $sans-serif;
$proxima-bold: "Proxima Nova Bold", $sans-serif;
$proxima-semi: "Proxima Nova Semi Bold", $sans-serif;
$proxima-black: "Proxima Nova Black", $sans-serif;
$proxima-extra: "Proxima Nova Extra Black", $sans-serif;



// Global values
// --------------------------------------------------

$base-font-size: 16; // we omit the px here because the Sass mixin takes care of units

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

// Brand colors
// -------------------------

$innovaPrimary1: 		#1675a9; //Blue(light)
$innovaPrimary2:		#e476c9; //Pink
$innovaPrimary3:		#48535b; //Grey 
//$cignaPrimary4:			#00aeef; //Blue

//$cignaSecondary1:		#2eb135; //Green
//$cignaSecondary2:		#ffa533; //Orange
//$cignaSecondary3:		#b81d8c; //Magenta
//
//$cignaGlobalPrimary1:	#1582c5; //Blue
//$cignaGlobalPrimary2:	#0e6ea8; //Blue
//$cignaGlobalPrimary3:	#ffc82e; //Orange
//
//$cignaGlobalSecondary1:	$cignaSecondary1; //Green
//$cignaGlobalSecondary2:	#f79820; //Orange
//$cignaGlobalSecondary3:	$cignaSecondary3; //Magenta
//$cignaGlobalSecondary4: #eef4f7; //Light blue

$black:					#000;
$white:					#fff;
$grey:					#616161;
$grayback:              #f6f6f6;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

// Media query variables for use with @include bp() mixin
$tablet:  $screen-sm-min;
$normal:  $screen-md-min;
$gtipad:  1025px;
$wide:    $screen-lg-min;