// country guide index

// Mapbox styles

#map {
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
}

.cigna-map {
  position: relative;
  display: block;
  height: 400px;
  background: $cignaGlobalSecondary2;
  margin-bottom: 30px;
  margin-right: 40px;
  @include bp(normal) {
    margin-right: 0;
  }
}

.scroll {
    width: 40px;
    height: 400px;
    float: right;
    background-color: $gray-lighter;
    display: block;
    margin-right: -40px;
    i {
      color: $grey;
      @include font-size(26);
      padding: 40px 10px;
    }
    .fa-angle-double-down {
      padding-top: 228px;
    }
}

.leaflet-control-attribution, .mapbox-logo {
  display: none !important;
}
/*
 * These CSS rules affect the tooltips within maps with the cigna-popups
 * class. See the full CSS for all customizable options:
 * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
 */
.cigna-popups .leaflet-popup-content-wrapper {
  background: $cignaGlobalSecondary2;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-family: $proxima;
}

.cigna-popups .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.5);
}

.cigna-popups .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.cigna-popups .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid $cignaGlobalSecondary2;
}
// end of mapbox styles
.continents {
  h3 {
    color: $cignaGlobalSecondary2;
    @include font-size(16);
    margin-bottom: 20px;
  }
}

.country-list {
  @include zero();
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
  //@include make-row();
  &__item {
    border-bottom: 1px solid lighten($gray, 20%);
    padding: 7px 0;
    &:nth-child(even) {
      //@include make-md-column(6);
      width: 45%;
      float: left;
    }
    &:nth-child(odd) {
      width: 45%;
      float: right;
      //@include make-md-column(6);
    }
  }
  &__link {
    color: lighten($gray, 20%);
  }
}

// country guide detail
.country-guide-header {
  margin-top: 25px;
  img {
    width:100%;
  }
}

.country-guide-content {
  background: $cignaGlobalSecondary2;
  color: white;
  padding: 50px 50px 75px 50px;
  margin-bottom: 20px;
  &__title {
    float: left;
    width: 85%;
    margin-bottom: 20px;
  }
  h2 {
    @include zero;
  }
  p {
    clear: both;
  }
  a {
    word-wrap: break-word;
  }
}

.country-guide-content-object {
  @extend %clearfix;

  &__heading {
    color: $cignaGlobalPrimary1;
    background: $cignaGlobalSecondary4;
    @include font-size(18);
    font-weight: 700;
    padding: 22px;
    margin: 0 0 20px 0;
  }
  p{
    a {
      word-wrap: break-word;
    }
  }
}

.country-guide-quote-box {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 20px;

  > h2 {
    color: $cignaGlobalSecondary2;
    font-family: $proxima-light;

    @include font-size(40);

    margin-bottom: 20px;
  }

  > p {
    @include font-size(20);
  }
}

.useful-links {
  h4 {
    margin-bottom: 20px;

    @include font-size(24);
  }

  &__list {
    @include zero;

    list-style: none;
    margin-bottom: 20px;
  }

  &__item {
    border-top: 1px solid lighten($grey, 50%);

    &:last-child {
      border-bottom: 1px solid lighten($grey, 50%);
    }
  }

  &__link {
    padding: 10px 0;
    display: block;

    .name {
      color: $grey;
    }

    .url {
      float: right;
      color: $cignaGlobalSecondary2;
    }
  }
}

.flag-icon {
  @include font-size(26);
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

// To correct alignment of columns on the overview / map page when two cols
.continents .col-xs-12.col-md-6 {
  margin-top: 20px;
  @include bp(normal) {
    margin-top: 0;
  }
}
@include bp(normal) {
  .continents .col-xs-12.col-md-6:nth-of-type(3), .continents .col-xs-12.col-md-6:nth-of-type(4) {
    margin-top: 20px;
  }
}

body.node-type-country-guide span.page-hero--short__heading {
  @include font-size(36);
}