 .page-node-1 {
  .hero-home {
    background-image: url('/sites/all/themes/cignaGlobal/images/family-beach-jumping-blue.jpg');
  }  
 }
.hero-home {
  background-color: #79A7C1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: none;
  color: white;
  @include bp(tablet) {
    min-height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include bp(normal) {
    background-position: center center;
  }

  &__header {
    font-family: $proxima-extra;
    @include font-size(30);
    @include bp(tablet) {
      @include font-size(45);
    }
    text-shadow: 3px 3px 3px rgba(150, 150, 150, 0.8);
  }

  &__text {
    @include font-size(22);
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);
    &__review {
      @include font-size(18);
      text-shadow: none;
      max-width: 75%;
      margin: 10px auto;
      font-style: italic;
    }
  }

  &__btn {
    margin: 22px auto;
    @include font-size(24);
    font-family: $proxima-semi;
    display: block;
    width: 100%;
    @include bp(tablet) {
      width: 30%;
      padding: 16px 12px;
    }
  }

  &__stars {
    margin-top: 12px;
    float: none;
    .fa {
      color: $cignaGlobalSecondary2;
      @include font-size(25);
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .svg-reevoo-logo {
    float: none;
    margin: 0 auto;
  }
}

.brokers .hero-home {
  background-image: url('/sites/all/themes/cignaglobal/images/banner-mock.jpg');
  max-height: 460px;
  height: auto;
  &__header, &__text {
    text-shadow: none;  
  }
  &__header {
    font-family: $proxima-light;
    @include font-size(40);
  }
  &__text {
    font-family: $proxima-light;
    @include font-size(20);
    line-height: 1.5rem;
  }
}

.home-icons {
  margin-bottom: 0;
  clear: both;
  background: #eef4f7;
  @include bp(normal) {
    background: #eef4f7;
  }
  .well {
    margin-bottom: 0;
  }
  .icon__list {
    @include zero;
    list-style-type: none;
    @include bp(tablet) {
      text-align: center;
    }
  }

  .icon__item {
    border-bottom: 1px solid darken($cignaGlobalSecondary4, 5%);
    clear: both;
    overflow: hidden;
    padding: 20px 0;
    &:last-child {
      border-bottom: none;
    }

    @include bp(tablet) {
      border-bottom: none;
      overflow: auto;
      display: inline-block;
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include bp(normal) {
      margin-right: 50px;
    }

    @include bp(wide) {
      margin-right: 135px;
    }

    &-link {
      display: inline-block;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .icon {
    display: inline-block;
    float: left;
    margin-right: 35px;
    @include bp(tablet) {
      display: block;
      margin: 0 auto 30px auto;
    }
  }

  h3 {
    color: $cignaGlobalPrimary1;
    @include font-size(16);
    margin-top: 45px;
    margin-bottom: 0;
    font-family: $proxima-bold;
    font-weight: normal;
    float: left;
    @include bp(tablet) {
      float: none;
    }
  }
}

.brokers .home-icons {
  &__item {
    vertical-align: top;
  }
  @include bp(tablet) {
    .icon {
      float: none;
      &__item {
        margin-right: 40px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  @include bp(normal) {
    .icon {
      &__item {
        margin-right: 95px;
      }
    }
  }
  @include bp(wide) {
    .icon {
      &__item {
        margin-right: 120px;
      }
    }
  }
  .well {
    padding: 0 19px;
  }
  h3 {
    color: $grey;
    margin-top: 35px;
    padding-left: 20px;
    vertical-align: middle;
    min-height: 35px;
    @include bp(tablet) {
      max-width: 100px;
      margin-top: 15px;
      padding-left: 0;
    }
    @include bp(normal) {
      max-width: auto;
      margin-top: 35px;
    }
  }
}

.what-is {
  background-color: $cignaGlobalPrimary1;
  padding: 40px 20px 20px 20px;
  color: white;
  @include bp(tablet) {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  @include bp(normal) {
    min-height: 516px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/what-is-homepagev2.jpg');
  }

  &__title {
    font-family: $proxima-light;
    @include font-size(30)
  }

  &-content__wrapper {
    @include make-sm-column(12);
    @include make-md-column(6);
  }
  
  &__btn {
    margin: 22px auto;
    @include font-size(22);
    font-family: $proxima-semi;
    width: 100%;
    @include bp(tablet) {
      width: 30%;
      padding: 16px 12px;
    }
  }
}

.contactus {
  padding: 25px 0;
  @include bp(normal) {
    padding: 20px 0;
  }
}

.our-plans-wrapper {
  background-color: transparent;
  .plantables {
    margin: 20px 0px;
    .greycol {
       border-left: none;
    }
  }
  @include bp(tablet) {
    background-color: transparent;
    .plantables {
        margin: 0px 0 20px 0;
    }
    .greycol:nth-of-type(3), .greycol:nth-of-type(4) {
      border-left: 1px solid #d4e1e7;
    }
  }
  @include bp(normal) {
    background-color: transparent;
    margin-top:20px;
  }
  .our-plans-container {
    background: $cignaGlobalPrimary1;
    margin: 0px -15px;
    padding: 40px 20px;
    @include bp(tablet) {
      padding: 40px 30px;
      margin: 20px 0;
      .btn-cigna-primary, p, .list-group, .toppad {
        width: 48%;
      }
      p, .btn-cigna-primary {
        float: left;
        clear:both;
      }
      .list-group, .toppad {
        float: right;
      }
      .toppad {
        padding-top: 50px;
      }
    }
    @include bp(normal) {
      margin-top: 0;
      margin-bottom: 20px;
      p, .btn-cigna-primary, .list-group, .toppad {
        width: auto;
        float: none;
        clear:none;
      }
      .toppad {
        padding-top: 40px;
      }
      .btn-cigna-primary {
        margin-top: 40px;
        width: 100%;
      }
    }
  }
}

.brokers .our-plans-wrapper {
  h2 {
    margin-top: 20px;
  }
  h3 {
    @include font-size(16);
  }
  aside {
    margin-top: 0;
    h3 {
      @include font-size(24);
    }
  }
}

.brokers .benefit-icon {
  padding-left: 0;
    padding-right: 0;
  margin-bottom: 20px;
  @include bp(tablet) {
    
    margin-bottom:0;
  }
  i {
    display: block;
  }
  .svg-international-outpatient-tablet, .svg-medical-evacuation-tablet,
  .svg-health-wellbeing-tablet, .svg-vision-dental-tablet {
    display: none;
    @include bp(tablet) {
      display: block;
    }
    @include bp(gtipad) {
      display: block;
    }
    @include bp(normal) {
      display: block;
    }
    @include bp(wide) {
      display: none;
    }
  }
  .svg-international-outpatient, .svg-medical-evacuation,
  .svg-health-wellbeing, .svg-vision-dental {
    display: block;
    @include bp(tablet) {
      display: none;
    }
    @include bp(gtipad) {
      display: none;
    }
    @include bp(normal) {
      display: none;
    }
    @include bp(wide) {
      display: block;
    }
  }
  
}

.expat-resources {
  &__title {
    text-align: center;
    padding: 0 0 40px 0;
  }
  .btn-cigna-tertiary {
    margin-bottom: 40px;
  }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here  to fix icons */
   .home-icons {
        .icon__item {
            width:100%;
            max-width:100%;
            @include bp(tablet) {
                width: 100px;
                max-width: 100px;
            }
        }
    }
}

/* Safari only hack for 9+ */
@supports (overflow:-webkit-marquee) and (justify-content:inherit) 
{
  .our-plans-container {
    @include bp(normal) {
      min-height: 673px;
    }
    @include bp(wide) {
      min-height: 585px;
    }
  }
}

.tablecontent .list--green-checks li:first-of-type strong {
  margin: 20px 0 20px 48px;
  position: absolute;
  left: 0;
}

.tablecontent .list--green-checks li:nth-of-type(1)  {
  margin-bottom:35px;
}
