// our plans index

.our-plans-index-header {
  overflow: hidden;
  margin-bottom: 40px;
  .btn {
    float: right;
    width:35%;
    @include bp(tablet) {
      width: auto;
    }
  }
  .btn-cigna-tertiary {
    margin-left: 20px;
  }
}

.our-plans-index-header__img {
  display: flex;
  margin-bottom: 30px;
  a {
    width: 100%;
    display: flex;
    @include bp(tablet) {
      display: block;
    }
  }
  img {
    width:170px;
    margin-left: auto;
    margin-right: auto;
  }
  @include bp(tablet) {
    display: block;
    margin-bottom: 120px;
    height: 100%;
    width: 40%;
    float:left;
  }
  @include bp(wide) {
    margin-bottom: 80px;
  }
}

.our-plans-index-header__title {
  color: $cignaSecondary2;
  @include font-size(18);
  font-family: $proxima-bold;
}

.our-plans-index-header__sub {
  @include font-size(30);
  font-family: $proxima-light;
}

.plan-list {
  @include zero;
  list-style: none;
  li {
    clear: both;
    @include bp(tablet) {
      margin-bottom: 30px;
      overflow: hidden;
    }
  }
  .plan-name {
    background: $heroBlue;
    color: white;
    height: 43px;
    clear: both;
    margin-top: 18px;
    margin-bottom: 25px;
    position: relative;
    @include bp(tablet) {
      width: 30%;
      float: left;
    }

    &:after {
      content: '▼';
      color: $heroBlue;
      position: absolute;
      bottom: -17px;
      right: 45%;
      @include bp(tablet) {
        content: '▶';
        bottom: 8px;
        right: -12px;
      }
    }
  }
  .plan-title {
    display: inline-block;
    margin-top: 13px;
    margin-left: 20px;
  }
  .plan-badge {
    display: inline-block;
    text-align: center;
    float: left;
    padding: 10px;
    &--silver {
      background: #5abaf6;
    }
    &--gold {
      background: #1582c5;
    }
    &--platinum {
      background: #025685;
    }
    .fa {
      display: block;
    }
    .fa-certificate {
      @include font-size(18);
    }
    .fa-bookmark {
      margin-top: -5px;
      @include font-size(10)
    }
  }
  .plan-content {
    @include bp(tablet) {
      width: 60%;
      float: right;
    }
    h4 {
      @include font-size(18);
      font-family: $proxima;
    }
    .is--silver {
      color: #5abaf6;
    }
    .is--gold {
      color: #1582c5;
    }
    .is--platinum {
      color: #025685;
    }
    h5 {
      @include font-size(24);
      font-family: $proxima-light;
    }
  }
}

.our-plans-optional-benefits {
  @include zero;
  list-style: none;
  &__item {
    padding: 30px 20px;
    background: $cignaGlobalSecondary4;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid lighten($gray, 60%);
    @include bp(tablet) {
      border-bottom: none;
      margin-bottom: 20px;
    }
  }
  &__icon {
    width: 10%;
    height: 10%;
    float: left;
    @include bp(tablet) {
      width: auto;
      height: auto;
    }
  }
  &__content {
    float: right;
    width: 50%;
    @include bp(tablet) {
      width: 70%;
    }
    margin-left: 20px;
    p {
      display: none;
      @include bp(tablet) {
        display: block;
      }
    }
    .btn {
      width: 25%;
      float: left;
      margin-right: 20px;
    }
    h3 {
      margin-top:40px;
      @include bp(tablet) {
        margin-top: 0;
      }
    }
  }
  &__title {
    @include font-size(14);
    font-family: $proxima-bold;
    color: $cignaGlobalPrimary1;
  }

}

.our-plans-optional-benefits__btn--learn-more {
  margin-right: 20px;
  display: none;
      @include bp(tablet) {
        display: block;
      }
}

// this hides the 'silver, gold & platinum'
// h3s on all rows after the first on a plan
// detail page
.plan-row {
  h3 {
    display: none;
  }
  &:nth-child(1) {
    h3 {
      display: block;
    }
  }
}